{% extends 'base_admin.html.twig' %}
{% block menu_casting %} active {% endblock %}

{% block title %}Casting index{% endblock %}

{% block body %}
    <h1>Casting index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Role</th>
                <th>Person name</th>
                <th>Movie title</th>
                <th>CreditOrder</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for casting in castings %}
            <tr>
                <td>{{ casting.role }}</td>
                <td>{{ casting.person.name }}</td>
                <td>{{ casting.movie.title }}</td>
                <td>{{ casting.creditOrder }}</td>
                <td>
                    <a class="btn btn-secondary" href="{{ path('casting_show', {'id': casting.id}) }}">show</a>
                   {% if is_granted('ROLE_ADMIN')%} 
                   <a class="btn btn-primary" href="{{ path('casting_edit', {'id': casting.id}) }}">edit</a>
                   {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if is_granted('ROLE_ADMIN')%} 
    <a class="btn btn-success" href="{{ path('casting_new') }}">Create new</a>

    <a class="btn btn-warning" href="{{ path('back_admin') }}">retour à la page administration</a>
    {% else %}
    <a class="btn btn-warning" href="{{ path('homepage') }}">retour à la page d'accueil</a>
    {% endif %}
{% endblock %}
