{% extends 'base_admin.html.twig' %}
{% block menu_person %} active {% endblock %}

{% block title %}Person{% endblock %}

{% block body %}
    <h1>Person</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ person.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ person.name }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ person.createdAt ? person.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ person.updatedAt ? person.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-warning" href="{{ path('person_index') }}">back to list</a>

    <a class="btn btn-primary" href="{{ path('person_edit', {'id': person.id}) }}">edit</a>

    {{ include('back/person/_delete_form.html.twig') }}
    
{% endblock %}
