{% extends 'base_admin.html.twig' %}
{% block menu_team %} active {% endblock %}

{% block title %}Team index{% endblock %}

{% block body %}
    <h1>Team index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for team in teams %}
            <tr>
                <td>{{ team.id }}</td>
                <td>
                    <a class="btn btn-secondary" href="{{ path('team_show', {'id': team.id}) }}">show</a>
                    
                    {% if is_granted('ROLE_ADMIN')%}
                    <a class="btn btn-primary" href="{{ path('team_edit', {'id': team.id}) }}">edit</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if is_granted('ROLE_ADMIN')%}
    <a class="btn btn-success" href="{{ path('team_new') }}">Create new</a>
    
    <a class="btn btn-warning" href="{{ path('back_admin') }}">retour à la page administration</a>
    {% else %}
    <a class="btn btn-warning" href="{{ path('homepage') }}">retour à la page d'accueil</a>
    {% endif %}

{% endblock %}
